streamlit
streamlit_extras
ollama
langgraph
langgraph-cli[inmem]
langchain
langchain-ollama
langchain-groq
langchain-experimental
langchain-community
langchainhub
langchain-qdrant
langchain-text-splitters
PyPDF2
unstructured[pdf]
chromadb
openpyxl
arxiv
duckduckgo-search
xmltodict
wikibase-rest-api-client 
mediawikiapi
wikipedia
yfinance
pandasai
stackapi
numexpr
lxml
seaborn
tabulate
docling==2.8.3
qdrant-client
docling-core
fastembed
youtube-search
youtube-transcript-api