streamlit
streamlit_extras
ollama
langchain
langchain-ollama
langchain-experimental
langchain-community
langchainhub
PyPDF2
unstructured[pdf]
chromadb
openpyxl
arxiv
duckduckgo-search
xmltodict
wikibase-rest-api-client 
mediawikiapi
wikipedia
yfinance
pandasai
stackapi
numexpr
lxml